<!-- FOOTER START -->
        <footer class="text-center text-lg-start bg-light text-muted rounded-top-4">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <!-- First Row -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-4 text-center">
                        <h6 class="text-uppercase fw-bold">
                            Products
                        </h6>
                            <a href="#!" class="text-decoration-none">Pricing</a><br>
                            <a href="#!" class="text-decoration-none">Settings</a><br>
                            <a href="#!" class="text-decoration-none">Orders</a><br>
                            <a href="#!" class="text-decoration-none">Help</a>
                    </div>
                    <!-- Second Row -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-4 text-center">
                        <h6 class="text-uppercase fw-bold">
                            Useful links
                        </h6>
                        <a href="#!" class="text-decoration-none">Pricing</a><br>
                        <a href="#!" class="text-decoration-none">Settings</a><br>
                        <a href="#!" class="text-decoration-none">Orders</a><br>
                        <a href="#!" class="text-decoration-none">Help</a>
                    </div>
                    <!-- Third Row -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-4 text-center">
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <p>
                            Max Mustermann <br>
                            Musterstraße 1<br>
                            12345 Musterstadt<br>
                            01234 / 567891012
                        </p>>
                    </div>
                </div>
            </div>
            <div class="text-center p-4 rounded-bottom-4" style="background-color: rgba(0, 0, 0, 0.05);">

                <p class="fw-bold">© 2023 Copyright: <a class="text-decoration-none fw-bold" href="https://mdbootstrap.com/">Stieber Julian</a></h1>
                <footer class="blockquote-footer">Proudly powered by <cite title="Source Title"><a href="https://feathericons.com/">Feather</a> & <a href="https://getbootstrap.com/">Bootstrap</a> </cite></footer>
            </div>
        </footer>
        <!-- FOOTER END -->

